/*navigation*/

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 6px;
}

/*home section*/
#home{
height: 370px;
padding: 3px 128px;

}

#home::before{
    height: 400px;
}

#home p{
    font-size: 13px;
}


/*service section*/
#services{
flex-direction: column;
}

#services .box{
    
}


/*clients section*/
#clients{
flex-wrap: wrap;
}

#clients img{
    width: 93px;
    padding: 0 6px;
    height: auto;
}


/*contact us section*/



/*footer*/


/*utility classes*/
.h-primary{
    font-size: 25px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}